<nav class="flex justify-between items-center">
	<%= link_to "Home", root_path %>
	<ul class="flex items-center gap-4 list-none m-0 p-0">
		<% if user_signed_in? %>
			<li><%= link_to "Profile", edit_user_registration_path %></li>
			<li><%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "underline" %></li>
		<% else %>
			<li><%= link_to "Sign in", new_user_session_path %></li>
			<li><%= link_to "Sign up", new_user_registration_path %></li>
		<% end %>
	</ul>
</nav>
