<h1 class="flex items-center gap-2">
	<%= @password.url %>
	<%= link_to @password.url, target: :blank do %>
		<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
			<path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
		</svg>
	<% end %>
</h1>
<%= link_to "Edit", edit_password_path(@password) %>

<h6>Username</h6>
<div class="flex gap-1 mb-5">
	<pre class="my-0 flex-grow"><%= @password.username %></pre>
	<%= button_tag "Copy", data: { controller: "clipboard", action: "clipboard#copy", clipboard_content_value: @password.username } %>
</div>

<h6>Password</h6>
<div class="flex gap-1">
	<pre class="my-0 flex-grow"><%= @password.password %></pre>
	<%= button_tag "Copy", data: { controller: "clipboard", action: "clipboard#copy", clipboard_content_value: @password.password } %>
</div>
